[user]
	email = rafaelschouten@gmail.com
	name = Rafael Schouten
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[init]
	templatedir = ~/.git_template
[merge]
	tool = meld
