[user]
	email = rafaelschouten@gmail.com
	name = Rafael Schouten
[push]
	default = current
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[merge]
	tool = vimdiff
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[mergetool]
	keepBackup = false
[github]
	user = rafaqz
[hub]
	protocol = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
