set show-all-if-ambiguous on
set show-all-if-unmodified on

TAB:menu-complete
## arrow up
"\e[A":history-search-backward
"\e[B":history-search-forward
"\C-l": clear-screen
"\C-x*": glob-expand-word

# Vi mode
set editing-mode vi
set keymap vi-command
k: history-search-backward
j: history-search-forward
set keymap vi-insert

set completion-query-items 2000
set page-completions off
